<div *ngIf="currentbook" class="edit-form tempmargin">
    <h4>Book</h4>
    <form>
      <div class="form-group">
        <label for="bookname">Book Name</label>
        <input
          type="text"
          class="form-control"
          id="bookname"
          [(ngModel)]="currentbook.bookname"
          name="bookname"
        />
      </div>
      <div class="form-group">
        <label for="authorname">Author Name</label>
        <input
          type="text"
          class="form-control"
          id="authorname"
          [(ngModel)]="currentbook.authorname"
          name="authorname"
        />
      </div>
      <div class="form-group">
        <label for="publicationname">Publication Name</label>
        <input
          type="text"
          class="form-control"
          id="publicationname"
          [(ngModel)]="currentbook.publicationname"
          name="publicationname"
        />
      </div>
      <div class="form-group">
        <label for="publicationdate">Publication Date</label>
        <input
          type="text"
          class="form-control"
          id="publicationdate"
          [(ngModel)]="currentbook.publicationdate"
          name="publicationdate"
        />
      </div>

      <div class="form-group">
        <label for="synopsis">Synopsis</label>
        <input
          type="text"
          class="form-control"
          id="synopsis"
          [(ngModel)]="currentbook.synopsis"
          name="synopsis"
        />
      </div>

      <div class="form-group">
        <label for="isbn">ISBN</label>
        <input
          type="text"
          class="form-control"
          id="isbn"
          [(ngModel)]="currentbook.isbn"
          name="isbn"
        />
      </div>

      <div class="form-group">
        <label for="avgreview">Average Review</label>
        <input
          type="text"
          class="form-control"
          id="avgreview"
          [(ngModel)]="currentbook.avgreview"
          name="avgreview"
        />
      </div>

      <div class="form-group">
        <label for="totalreviews">Total Reviews</label>
        <input
          type="text"
          class="form-control"
          id="totalreviews"
          [(ngModel)]="currentbook.totalreviews"
          name="totalreviews"
        />
      </div>
       
    </form>
  
    <button class="badge badge-danger mr-2 main" (click)="deletebook()">
      <i class="fa fa-trash-o"></i>
      Delete
    </button>
  
    <button type="submit" class="badge badge-success main" (click)="updatebook()">
      <i class="fa fa-refresh" aria-hidden="true"></i>
      Update
    </button>
    <p>{{ message }}</p>
  </div>
  
  <div *ngIf="!currentbook">
    <br />
    <p>Cannot access this Book...</p>
  </div>
