<div>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <i class="fa fa-book fa-4x fa-cog" aria-hidden="true"></i>
    <a class="navbar-brand temp" href="#">Book Store Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item">
          <a class="nav-link" routerLink="books">Home</a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
          <a href="/add" class="nav-link" routerLink="add">Add Books</a>
        </li>
        
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/books" class="nav-link" routerLink="books">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
      
    </div>
  </nav>
</div>
  
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>



